#======== Region-wise packing SEI message =====================
SEIRwpEnabled                           : 1
SEIRwpCancelFlag                        : 0
SEIRwpPersistenceFlag                   : 1
SEIRwpConstituentPictureMatchingFlag    : 1   
SEIRwpNumPackedRegions                  : 6
SEIRwpProjPictureWidth                  : 2048
SEIRwpProjPictureHeight                 : 1024
SEIRwpPackedPictureWidth                : 1536
SEIRwpPackedPictureHeight               : 768
SEIRwpTransformType                     : 0 1 2 3 4 5
SEIRwpGuardBandFlag                     : 1 1 1 1 1 1
SEIRwpProjRegionWidth                   : 512 512 512 512 512 512
SEIRwpProjRegionHeight                  : 128 128 128 128 128 128
SEIRwpProjRegionTop                     : 256 256 256 256 256 256
SEIRwpProjRegionLeft                    : 0 256 512 768 1024 1280
SEIRwpPackedRegionWidth                 : 512 512 512 384 384 384
SEIRwpPackedRegionHeight                : 128 128 128 192 192 192
SEIRwpPackedRegionTop                   : 64 64 64 64 64 64
SEIRwpPackedRegionLeft                  : 32 32 32 32 32 32
SEIRwpLeftGuardBandWidth                : 64 64 64 64 64 64
SEIRwpRightGuardBandWidth               : 128 128 128 128 128 128
SEIRwpTopGuardBandHeight                : 192 192 192 192 192 192
SEIRwpBottomGuardBandHeight             : 255 255 255 255 255 255
SEIRwpGuardBandNotUsedForPredFlag       : 1 1 1 1 1 1
SEIRwpGuardBandType                     : 0 0 0 0 1 1 1 1 2 2 2 2 3 3 3 3 0 0 0 0 1 1 1 1

